{{template "base" .}}

{{define "content"}}
<div class="container">
  <div class="row mt-5">
    <h1 class="text-center">This is soon-to-be a contact page</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae
      laudantium quia ullam expedita aspernatur, aperiam, nam nihil quibusdam,
      facilis repellat voluptatibus ratione. Itaque sapiente, exercitationem
      debitis suscipit magni soluta quod. Voluptates quas incidunt consequuntur
      nam, ipsa sed? Tempora quas eligendi iusto sequi? Ullam consequuntur ad
      totam tenetur excepturi placeat consequatur repudiandae, porro, ab nam
      fuga doloremque possimus! Facilis, ex debitis? Perferendis, esse. Ex enim
      nulla cupiditate iure sunt repudiandae quam molestias dicta provident eius
      ipsa minus officia sed ad dolor reprehenderit consequuntur, voluptas
      blanditiis accusantium. Obcaecati omnis laudantium cumque incidunt. Nemo,
      voluptatem, sunt velit nihil suscipit odio earum, eos voluptates placeat
      animi numquam? Quo consectetur aliquam perferendis accusantium quia
      exercitationem dolorum debitis, dicta id provident eveniet, magni
      perspiciatis error fugit. Quo eius voluptatum vel quisquam ad totam
      blanditiis, asperiores sed nisi reprehenderit perferendis officia, ducimus
      fugiat! Quos sed cumque aliquam minus animi ducimus veritatis doloribus
      officia aut a, architecto maxime.
    </p>
  </div>
</div>
{{ end }}
