{{template "base" .}}

{{define "css"}}
<link rel="stylesheet" href="../static/css/modal.css" />
{{ end }}

{{define "content"}}
<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-6">
      <img src={{index .Data "img"}}
      alt="grand superior room picture" class="img-fluid img-thumbnail" />
    </div>
  </div>

  <div class="row mt-5">
    <h1 class="text-center">{{index .Data "name"}}</h1>
    <p>
      {{index .Data "desc"}}
    </p>
  </div>

  <div class="row">
    <div class="col text-center">
      <button id="seeAvailBtn" class="btn btn-success">See Availability</button>
    </div>
  </div>
</div>
{{template "modals" .}}
{{ end }}

{{define "js"}}
<script src="https://cdn.jsdelivr.net/npm/@easepick/bundle@1.2.1/dist/index.umd.min.js"></script>
<script src="../static/js/datepicker.js"></script>
<script src="../static/js/modal.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@easepick/bundle@1.2.1/dist/index.umd.min.js"></script>
{{ end }}
