{{template "base" .}}

{{define "css"}}
<link rel="stylesheet" href="../static/css/modal.css" />
{{ end }}

{{define "content"}}
<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-6">
      <img src={{index .Data "img"}}
      alt="grand superior room picture" class="img-fluid img-thumbnail" />
    </div>
  </div>

  <div class="row mt-5">
    <h1 class="text-center">{{index .Data "name"}}</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae
      laudantium quia ullam expedita aspernatur, aperiam, nam nihil quibusdam,
      facilis repellat voluptatibus ratione. Itaque sapiente, exercitationem
      debitis suscipit magni soluta quod. Voluptates quas incidunt consequuntur
      nam, ipsa sed? Tempora quas eligendi iusto sequi? Ullam consequuntur ad
      totam tenetur excepturi placeat consequatur repudiandae, porro, ab nam
      fuga doloremque possimus! Facilis, ex debitis? Perferendis, esse. Ex enim
      nulla cupiditate iure sunt repudiandae quam molestias dicta provident eius
      ipsa minus officia sed ad dolor reprehenderit consequuntur, voluptas
      blanditiis accusantium. Obcaecati omnis laudantium cumque incidunt. Nemo,
      voluptatem, sunt velit nihil suscipit odio earum, eos voluptates placeat
      animi numquam? Quo consectetur aliquam perferendis accusantium quia
      exercitationem dolorum debitis, dicta id provident eveniet, magni
      perspiciatis error fugit. Quo eius voluptatum vel quisquam ad totam
      blanditiis, asperiores sed nisi reprehenderit perferendis officia, ducimus
      fugiat! Quos sed cumque aliquam minus animi ducimus veritatis doloribus
      officia aut a, architecto maxime.
    </p>
  </div>

  <div class="row">
    <div class="col text-center">
      <button id="seeAvailBtn" class="btn btn-success">See Availability</button>
    </div>
  </div>
</div>

<!-- working sheet z-index=1 -->
<div id="calendarModal" class="modal">
  <!-- modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <h2>Please input your booking period</h2>
      <span class="close">&times;</span>
    </div>
    <div class="modal-body">
      <input id="datepicker" />
    </div>
  </div>
</div>
{{ end }}

{{define "js"}}
<script src="../static/js/modal.js"></script>

<!-- datepicker -->
<script src="https://cdn.jsdelivr.net/npm/@easepick/bundle@1.2.1/dist/index.umd.min.js"></script>
<script src="../static/js/datepicker.js"></script>
{{ end }}
