{{template "base" .}}

{{define "content"}}
<div class="container">
  <div class="row">
    <div class="col">
      <h1>This is the about page</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem sunt
        sit consequuntur facilis cum possimus beatae animi eius corrupti
        asperiores. Maxime perferendis quos a molestias iusto modi officia
        quibusdam rem! Autem sunt soluta laudantium incidunt, explicabo iusto
        delectus? Harum, exercitationem voluptatem nulla id molestias possimus,
        atque iure reiciendis ducimus aliquid et delectus? Quasi, asperiores?
        Enim ipsum ullam quod sunt minima. Suscipit nemo, dolore quibusdam
        expedita possimus cumque ipsam modi minus ratione voluptatum fugit
        explicabo eos nam in facilis rerum consequuntur repellat quasi quaerat
        ad delectus quas iure consectetur facere. Tenetur. Ratione itaque fuga
        pariatur assumenda. Autem iure necessitatibus rerum ut id iste mollitia
        totam assumenda eveniet voluptatibus eos ipsam alias fuga cumque
        cupiditate, obcaecati nesciunt praesentium sunt consectetur excepturi
        fugiat. Vitae, eos ipsa saepe, dignissimos quod ex dolorum, a nemo
        exercitationem dolorem culpa laboriosam! Impedit ullam perferendis
        dolore, voluptate enim animi maxime et? Eaque, suscipit natus!
        Perspiciatis debitis repudiandae eveniet.
      </p>
    </div>
  </div>
  <p>Template Data: {{.Flash}}</p>
</div>
{{ end }}
